docs
/.quarto/
.Rproj.user
_freeze/
*_cache/
*_files/
cache/
.Rhistory
**/*.quarto_ipynb
site_libs/
*.html
/.luarc.json
*.rds
data/
.venv
*.egg-info/
*.parquet
*.arrow
*.csv
*.rds
*.tif
Rplots.pdf
study_area.osm
*.gpkg
